.DS_Store
Thumbs.db
Desktop.ini

__MACOSX/
.ipynb_checkpoints/
~$*

*.tmp
*.temp
*.zip
*.pptx
*.html
*.ipynb
*.rar
*.exe
*.csv
*.cpp
*.py
*.ico
CNAME
*.doc
*.xls
*.xlsx
*.jpeg
*.txt
*.json
*.ttc
*.cbp
*.depend
*.layout
*.o
*.h
*.data
*.sh
*.test
*.base
*.pl
*.pickle

