cs_ds/程序设计C++/高级程序设计/C[[:space:]][[:space:]]程序设计基础_编程抽象与算法策略(EricS.Roberts)(Z-Library)(1).pdf filter=lfs diff=lfs merge=lfs -text
数统/优化理论与算法/LINEAR[[:space:]]OPTIMIZATION/INTRODUCTION[[:space:]]TO[[:space:]]LINEAR[[:space:]]OPTIMIZATION_全本.pdf filter=lfs diff=lfs merge=lfs -text
数统/优化理论与算法/优化理论与实用算法_15149398.pdf filter=lfs diff=lfs merge=lfs -text
数统/数理统计/数理统计学导论[[:space:]]原书第8版_15601187.pdf filter=lfs diff=lfs merge=lfs -text
cs_ds/数据结构与算法/算法设计课程书籍笔记/算法设计.pdf filter=lfs diff=lfs merge=lfs -text
cs_ds/数科导/Python3网络爬虫开发实战[[:space:]]第2版[[:space:]](崔庆才)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
