.DS_Store
Thumbs.db
Desktop.ini

__MACOSX/
.ipynb_checkpoints/
~$*

*.tmp
*.temp
*.zip
*.html
*.rar
*.exe
*.csv
*.cpp
*.py
*.ico
CNAME
*.doc
*.xls
*.xlsx
*.jpeg
*.txt
*.json
*.ttc
*.mp4
*.cbp
*.depend
*.layout

# 仅保留 md 和 pdf：数据挖掘
/cs_ds/数据挖掘/**
!/cs_ds/数据挖掘/
!/cs_ds/数据挖掘/**/
!/cs_ds/数据挖掘/**/*.md
!/cs_ds/数据挖掘/**/*.pdf

# 仅保留 md 和 pdf：金科_ba
/金科_ba/**
!/金科_ba/
!/金科_ba/**/
!/金科_ba/**/*.md
!/金科_ba/**/*.pdf
/金科_ba/**/__MACOSX/**
/金科_ba/**/._*
*.o
*.h
*.data
*.sh
*.test
*.base
*.pl
*.pickle
